@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Cantarell);

/*
  Palette

  background blue: #c3d8e9
  home bucket brown: #573c1f
  link blue: #195091
  footer brown: #43311d
  donate red: #b51a16 
*/

/* LOH Neue */

/* font-scale from http://webtypography.net/Harmony_and_Counterpoint/Size/3.1.1/ */
h1 { font-size: 2.25em;  /* 16x2.25=36 */ }
h2 { font-size: 1.5em;   /* 16x1.5=24 */ }
h3 { font-size: 1.125em; /* 16x1.125=18 */ }
h4 { font-size: 0.875em; /* 16x0.875=14 */ }
p, li  { font-size: 0.75em;  /* 16x0.75=12 */ }

p, li {
  line-height: 1.5em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #195091;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

a.donate {
  background-color: #b51a16;
  padding: .25em;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Cantarell, sans-serif;
}

body {
  background-color: #ffffff;
  font-family: Georgia, 'Bitstream Charter', serif;
}

#content {
  width: 960px;
  padding-top: 20px;
  margin: 0px auto;
  background-color: #c3d8e9;
}

#header, #footer, #home-buckets {
  width: 94%;
  clear: both;
  padding-left: 3%;
  padding-right: 3%;
}

#header {
  overflow: auto;
  margin: 0px auto;
  position: relative;
}

  #header #logo {
    display: block;
    float: left;
    width: 150px;
    height: 90px;
    border: 1px solid #ffffff;
  }

  #header #subscribe {
    float: right;   
  }

  #header .horiz-menu li {
    display: inline;
  }

  #header #social-menu {
    border-left: 1px solid #000000;
    float: right;
  }
    
    #social-menu a {
      display: inline-block;
      height: 16px;
      width: 16px;
      text-indent: -9999px;
      background-image: url(images/social-icons.png);
      background-repeat: no-repeat;
    }

      #social-menu a.social-twitter { background-position: 0px 0px; }
      #social-menu a.social-facebook { background-position: -16px 0px; }
      #social-menu a.social-youtube { background-position: -32px 0px; }
      #social-menu a.social-flickr { background-position: -48px 0px; }

  #header #primary-menu {
    float: left;
    margin-left: 3em;
    margin-top: 2em;
  }

    #primary-menu a:hover {
      background-color: #ffffff;
    }

    #header .donate {
      float: right;
      margin-top: 2em;
    }

#footer {
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #ffffff;
  background-color: #43311d;
  font-family: Cantarell, sans-serif;
}

  #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
    text-decoration: none;
    color: #ffffff;
  }

    #footer a:hover {
      text-decoration: underline;
    }

  #footer .link-group {
    float: left;
    padding-right: 2em;
  }

    #footer .link-group h1 {
      text-transform: uppercase;
      font-size: 0.875em;
    }

    #footer .link-group li {
      margin-left: 1em;
    }
 
    #footer .link-group li a:before {
      content: '<';
      padding-right: .25em;
    }
  
#page-subpages {
  width: 13.5%;
  float: left;
  clear: left;
  margin: 2em 1.5% auto 3%;
}

#page-primary {
  width: 77.5%;
  float: left;
  clear: right;
  margin: 2em 3% auto 1.5%;
}

#home-primary {
  width: 70.5%;
  clear: left;
  float: left;
  margin-left: 3%;
  margin-right: 1.5%;
  margin-top: 2em;
}

  #home-primary #home-slider {
    width: 96%;
    min-height: 300px;
    border: 10px solid #ffffff;
    background-color: gray;
  }

#home-feed {
  width: 20.5%;
  min-height: 300px;
  float: left;
  margin-right: 3%;
  margin-left: 1.5%;
  margin-top: 2em;
  background-color: gray;
}

#home-buckets {
  overflow: auto;
  padding-top: 2em;
  color: #ffffff;
  background-color: #573c1f;
  font-family: Cantarell, sans-serif;
}

  #home-buckets .home-bucket {
    float: left;
    width: 33.333333333%;
  }

    #home-buckets .home-bucket header {
      height: 55px;
      position: relative;
      margin-bottom: 0.5em;
    }

    #home-buckets .home-bucket header h1 {
      position: absolute;
      left: 65px;
      top: 20px;
      font-size: 1.125em;
      font-family: Georgia, 'Bitstream Charter', serif;
    }

    #home-buckets .home-bucket header span {
      position: absolute;
      left: 65px;
      top: 0px;
      font-size: 0.75em;
      text-transform: uppercase;
    }

    #home-buckets img.bucket-profile {
      display: block;
      width: 55px;
      height: 55px;
      border: 2px solid gray;
    }

    #home-buckets .home-bucket p {
      margin-left: 65px;
    }

@import url(queries.css);
