@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Cantarell);

/*
  Palette

  background blue: #c3d8e9
  home bucket brown: #573c1f
  link blue: #195091
  footer brown: #43311d
  donate red: #b51a16 
  primary-menu faux translucency: #e1ecf4;
*/

/* LOH Neue */

/* font-scale from http://webtypography.net/Harmony_and_Counterpoint/Size/3.1.1/ */
h1 { font-size: 2.25em;  /* 16x2.25=36 */ }
h2 { font-size: 1.5em;   /* 16x1.5=24 */ }
h3 { font-size: 1.125em; /* 16x1.125=18 */ }
h4 { font-size: 0.875em; /* 16x0.875=14 */ }
p, li  { font-size: 0.75em;  /* 16x0.75=12 */ }

p, li {
  line-height: 1.5em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #195091;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

ul.donate-menu, ul.donate-menu li {
  margin: 0px;
  padding: 0px;
}

  .donate-menu a {
    background-color: #b51a16;
    padding: .25em .5em;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Cantarell, sans-serif;
    font-size: .875em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

    .donate-menu a:hover {
      position: relative;
      left: -1px;
      top: -1px;
      text-decoration: none;
      background-color: #b51a16;
      -moz-box-shadow: 2px 2px 5px -1px #888;
      -webkit-box-shadow: 2px 2px 5px -1px #888;
      box-shadow: 2px 2px 5px -1px #888;
    }

      #primary-menu .donate-menu a:hover {
        background-color: #b51a16;
      }

body {
  background-color: #ffffff;
  font-family: Georgia, 'Bitstream Charter', serif;
}

#content {
  width: 960px;
  padding-top: 20px;
  margin: 0px auto;
  background-color: #c3d8e9;
}

#header, #footer, #home-buckets {
  width: 94%;
  clear: both;
  padding-left: 3%;
  padding-right: 3%;
}

#header {
  overflow: show;
  margin: 0px auto;
  position: relative;
}

  #header #logo {
    display: block;
    float: left;
    width: 150px;
    height: 90px;
    border: 1px solid #ffffff;
  }

  #header #subscribe {
    float: right;   
  }

  #header .horiz-menu li {
    display: inline;
  }

  #header #social-menu {
    height: 2em;
    float: right;
    border-left: 1px solid #000000;
    margin-left: 1em;
  }

    #social-menu li {
      margin-left: .5em;
    }
    
    #social-menu a {
      display: inline-block;
      height: 16px;
      width: 16px;
      text-indent: -9999px;
      background-image: url(images/social-icons.png);
      background-repeat: no-repeat;
    }

      #social-menu a.social-twitter { background-position: 0px 0px; }
      #social-menu a.social-facebook { background-position: -16px 0px; }
      #social-menu a.social-youtube { background-position: -32px 0px; }
      #social-menu a.social-flickr { background-position: -48px 0px; }

  #header .donate-menu {
    float: right;
    margin-top: 2em;
    font-size: 1.125em;
  }

  #header #primary-menu {
    float: left;
    width: 70%;
    margin-left: 1.5em;
    margin-top: 2em;
    font-size: 1.125em;
  }

    #primary-menu li {
      margin-right: 1em;
      padding: .15em .85em;
      background-color: #e1ecf4;
      background-color: rgba(255, 255, 255, .5);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

      body.home #primary-menu li.home {
        display: none;
      }

      #primary-menu li:last-child {
        margin-right: 0px;
      }

    #primary-menu a:hover {
      text-decoration: none;
    }

    #primary-menu li:hover {
      background-color: #ffffff;
    }

#footer {
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #ffffff;
  background-color: #43311d;
  font-family: Cantarell, sans-serif;
}

  #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
    text-decoration: none;
    color: #ffffff;
  }

    #footer a:hover {
      text-decoration: underline;
    }

  #footer .donate-menu {
    float: right;
  }

    #footer .donate-menu a {
      font-size: 1em;
    }

    #footer .donate-menu a:hover {
      text-decoration: none;
    }

  #footer .link-group {
    float: left;
    padding-right: 2.5em;
  }

    body.home #footer .link-group.home {
      display: none;
    }

    #footer .link-group h1 {
      text-transform: uppercase;
      line-height: 1.5em;
      font-size: 0.875em;
    }

      #footer .link-group h1 a {
        padding-top: .25em;
      }

    #footer .link-group li {
      margin-left: 1em;
    }

    #footer .link-group li:before {
      content: '<';
      padding-right: .25em;
    }

  #footer #footer-credits {
    clear: both;
    width: 100%;
    padding-top: 2em;
    text-align: center;
  }
  
    #footer #footer-credits li {
      display: inline;
    }

      #footer #footer-credits li:before {
        content: '|';
        margin: auto .5em;
      }

      #footer #footer-credits li:first-child:before {
        content: '';
      }

        #footer #footer-credits div {
          display: inline;
        }

#page-subpages {
  width: 13.5%;
  float: left;
  clear: left;
  margin: 2em 1.5% auto 3%;
}

#page-primary {
  width: 77.5%;
  float: left;
  clear: right;
  margin: 2em 3% auto 1.5%;
}

#home-primary {
  width: 70.5%;
  clear: left;
  float: left;
  margin-left: 3%;
  margin-right: 1.5%;
  margin-top: 2em;
}

  #home-primary #home-slider {
    width: 96%;
    min-height: 300px;
    border: 10px solid #ffffff;
    background-color: gray;
  }

#home-feed {
  width: 20.5%;
  min-height: 300px;
  float: left;
  margin-right: 3%;
  margin-left: 1.5%;
  margin-top: 2em;
  background-color: gray;
}

#home-buckets {
  overflow: auto;
  padding-top: 2em;
  color: #ffffff;
  background-color: #573c1f;
  font-family: Cantarell, sans-serif;
}

  #home-buckets .home-bucket {
    float: left;    
    position: relative;
    width: 33.333333333%;
    padding-top: 65px;
  }

    #home-buckets .home-bucket > * {
      margin-left: 65px;
    }

    #home-buckets .home-bucket p {
      margin-left: 135px;
    }

    #home-buckets .home-bucket p:first-child {
      position: absolute;
      left: 0px;
      top: 0px;
      margin-left: 65px;
    }

      #home-buckets img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 55px;
        height: 55px;
        border: 2px solid gray;
      }

    #home-buckets .home-bucket h1 {
      position: absolute;
      left: 65px;
      top: 20px;
      font-size: 1.125em;
      font-family: Georgia, 'Bitstream Charter', serif;
    }

    #home-buckets .home-bucket .bucket-type {
      display: block;
      position: absolute;
      left: 65px;
      top: 0px;
      font-size: 0.75em;
      text-transform: uppercase;
    }


@import url(queries.css);
